/* Apply global styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #CFCFB4; /* Pearl */
    color: #264969; /* Indigo dye */
}

/* Apply Georgia font to all headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
}
